doctype html
html(lang="en")
    head
        include ../../common-head.pug
        
        //- Title and Description
        title Developers - DotV OÜ
        meta(name='description', content='Welcome! We are the Developers of the Void. Our mission is to support people with ambitions, to create both convenience and freedom. All this by focusing on free development. Have a look on who is behind this mysterious company.')
        
        //- Open Graph meta Tags
        meta(property='og:image' content="https://dotv.ee/android-chrome-192x192.png")
        meta(property='og:title' content="DotV OÜ Network")
        meta(property='og:description' content='Welcome! We are the Developers of the Void. Our mission is to support people with ambitions, to create both convenience and freedom. All this by focusing on free development. Have a look on who is behind this mysterious company.')
        meta(property='og:type' content="website")
        meta(property='og:url' content="https://dotv.ee/network.html")
        meta(property='og:locale' content="en_US")

        include styles-include.pug
    body
        include ../../source/network/networkbody.pug
        include scripts-include.pug
