doctype html
html(lang="en")
    head
        include ../../common-head.pug
        
        //- Title and Description
        title Developers - DotV OÜ
        meta(name='description', content='Developers of the Void. Our mission is to fuel the free development. Better said - to fuel the developers. :)')
        
        //- Open Graph meta Tags
        meta(property='og:image' content="https://dotv.ee/img/footer-bg-network.jpg")
        meta(property='og:title' content="DotV OÜ Network")
        meta(property='og:description' content='Developers of the Void. Our mission is to fuel the free development. Better said - to fuel the developers. :)')
        meta(property='og:type' content="website")
        meta(property='og:url' content="https://dotv.ee/network.html")
        meta(property='og:locale' content="en_US")

        include styles-include.pug
    body
        include ../../source/network/networkbody.pug
        include scripts-include.pug
