#seb-avatar,
#flo-avatar
    width inherit


#json-avatar
    width inherit
    background-image: url("/img/avatar-bg.jpg")
    background-size: cover
    height inherit
    color black

#gson-avatar
    width inherit
    background-image: url("/img/avatar2-bg.jpg")
    background-size: cover
    height inherit
    color black
