extends ../cardbases/personbase.pug 
block picture
    img#flo-avatar(src="/img/flo-avatar.jpg")
block name
    | Florian L. Schernthaner
block title 
    | Master of Markets (MoM)
block roles
    | Marketer - Currencies & Insurance
block connection_links
    a#flo-linkedin-link(href="https://www.linkedin.com/in/florian-schernthaner" target="_blank")
        svg: use(href="#svg-linkedin-icon")
    a#flo-twitter-link(href="https://twitter.com/ParaNakamoto" target="_blank")
            svg: use(href="#svg-twitter-icon")
    a#flo-instagram-link(href="https://www.instagram.com/paranoid_nakamoto/" target="_blank")
            svg: use(href="#svg-instagram-icon")
block flags
    #gson-flags
        .austrian-flag
            .austrian-red
            .white-strip
            .austrian-red

