extends ../cardbases/personbase.pug 
block picture
    img#seb-avatar(src="/img/seb-avatar.jpg")
block name
    | Sebastian W. Friedrich
block title 
    | Innovation Alchemist (IA)
block roles
    | Developer of Human Resources
block connection_links
    a#seb-github-link(href="https://github.com/sebfried" target="_blank") 
        svg: use(href="#svg-github-icon")
    a#seb-linkedin-link(href="https://www.linkedin.com/in/sebastian-wolfgang-friedrich-320166119/" target="_blank")
        svg: use(href = "#svg-linkedin-icon")
    a#seb-instagram-link(href="https://www.instagram.com/sebastianfriedrich.at/" target="_blank")
        svg: use(href="#svg-instagram-icon")
block flags
    #json-flags
        .austrian-flag
            .austrian-red
            .white-strip
            .austrian-red

