section#operators
    .black-block 
        .max-content 
            h1 Operators
            p Running this ship.

    include ../../../destraightenmodule/top-white-on-black.pug
    .block
        .max-content 
            include ../allcards/person-card-sebastian.pug
            include ../allcards/person-card-lenny.pug
            include ../allcards/person-card-scarlett.pug
    include ../../../destraightenmodule/bottom-white-on-transparent.pug
    .gap