#process
    h2
        // border-bottom solid 2px
        // padding-bottom 7px
        margin-top: 20pt 
        max-width 60%

    .process-decoration
        width: 100%
        // height 1px
        // background-color cd-darkblue
        svg 
            color cd-darkblue