section#process
    .black-block
        .max-content
            h1 Our Development Process
            p First it is your call - could we help you? 
            p <b>Then here is your call.</b>
            p Let's have a talk to just explore your situation, your ideas and expectations.
    .block
        svg.process-decoration: use(href="#svg-developer-grow")
        .max-content
            h2 First Talk (free) 
            ul
                li Tell us freely what you need and what you desire.
                li We will listen and explore your ideas.
                li Tell us your Expectation.
                li Tell us the Budget Limit.

            p After the Initial Talk we will look deeper into it and come back to you later for our Initial Consultation free of charge.

    .block
        svg.process-decoration: use(href="#svg-cross-icon")
        .max-content
            h2 First Consultation (free)
            p In the Initial Consultation we will tell you our best opinion about the possibilities and our recommended approach.
            p Maybe the best way is not with us - honestly, we will tell you.

            p When we see that we could best help your purpose then we will give a recommendation on our Next-Step Action. If you agree, then we are officially in Business.
    .block
        svg.process-decoration: use(href="#svg-developer-grow")
        .max-content
            h2 Rolling Planning
            p Years of experience has tought us that flexibility in planning is key to cost-effectiveness.

            p Along the way we maintain 2 sets of Specifications

            h3 General Specification
            ul
                li Coarse Summary of the Expected Features<br>
                    | - Most Important Usecases<br> 
                    | - Nice to Haves
                li Overall Budget Limit

            h3 Next-Step Specification
            ul
                li Next-Step Milestone
                li Next-Step Budget Limit
            
            p <b>Our Job is to provide you with the best solution within the budget limit.</b>

            p Therefore we focus on one Milestone to be implemented and donot define any further ones. These Next-Step Milestones are kept small and concise. We need to have a clear and synchronized understanding of the tasks and their outcome.

            p The Budget Limit is regarded as a hard limit, implementation strategy, cleanliness and at last resort features will be adjusted accordingly such that it will be kept - normally we should stay well below the budget limit. 

    .block
        svg.process-decoration: use(href="#svg-developer-grow")
        .max-content
            h2 Step by Step
            p After completion of a Next-Step Milestone, we present our solution and will write the bill. Then together we specify the next Next-Step Milestone.

            p Billed is our working time hourly - specifically the development time + resarch time + time of the official meetings. 
            p Fast communication for synchronization, clearing misunderstandings, noting bugs etc. is <b>free of charge</b>.

    .black-block
    .gap
