//- footer structure
footer
    #footercontent
        #photo-attribution-home Photo by <a href="https://unsplash.com/@grakozy" target="_blank">Greg Rakozy</a> on <a href="https://unsplash.com/photos/0LU4vO5iFpM" target="_blank">Unsplash</a>
        #photo-attribution-network Photo by <a href="https://unsplash.com/@joshuaearle" target="_blank">Joshua Earle</a> on <a href="https://unsplash.com/photos/GO2atRL73uE" target="_blank">Unsplash</a>
        #photo-attribution-projects Photo by <a href="https://unsplash.com/@gferla" target="_blank">Joshua Earle</a> on <a href="https://unsplash.com/photos/e4Yv_AWY2W4" target="_blank">Unsplash</a>