// footer styles
#footercontent
    position absolute
    top 0
    left 7pt
    width 100vh
    font-size: 10pt
    transform-origin: top left
    transform rotate(90deg) translateY(-100%)
    color alpha(white, 0.8)
footer
    width 100%
    position relative
    height 100vh
    padding 0
    margin 0
    // z-index 2
