extends developerbase.pug 
block picture
    img#lenny-avatar(src="/img/lenny-avatar.jpg")
block name
    | Lenard Frommelt
block title 
    | Supervisor of Systems <br>Evolution (SoSE)
block roles
    | Mentor / Student
block connection_links
    a#lenny-gitlab-link(href="https://gitlab.com/lenny09918050" target="_blank")
        svg: use(href="#svg-gitlab-icon") 
    a#lenny-github-link(href="https://github.com/JhonnyJason" target="_blank") 
        svg: use(href="#svg-github-icon")
    a#lenny-linkedin-link(href="https://www.linkedin.com/in/lenard-frommelt-3a3904154/" target="_blank")
        svg: use(href = "#svg-linkedin-icon")
    
block flags
    #lenny-flags
        svg.swiss-flag: use(href="#svg-swiss-flag-icon")                    
        svg.liechtenstein-flag: use(href="#svg-liechtenstein-flag-icon")
        .austrian-flag
            .austrian-red
            .white-strip
            .austrian-red
