nav#menuheadercontainer
    h3 Developers of the Void
    #menucontent
        #decoration-frame
        #menu
            div: a(href="#company") Company
            div: a(href="#mission") Mission
            div: a(href="#code") Code
        #connect-icons-frame
            a(href=""): svg#connect-to-matrix-icon: use(href="#svg-matrix-icon")
            a(href=""): svg#connect-to-telegram-icon: use(href="#svg-telegram-icon")
            a(href=""): svg#connect-to-github-icon: use(href="#svg-gitlab-icon")
            a(href=""): svg#connect-to-github-icon: use(href="#svg-github-icon")
