connect-icon-size = 40px
menu-padding = 21px


#menuheadercontainer
    // position fixed
    // top 0
    // left 0
    height inherit
    overflow hidden

#menu
    text-align: right
    padding-top menu-padding
    padding-right 15px
    max-width 280px
    margin-left: auto
    font-size: 16pt
    line-height 160%
    letter-spacing 1pt
    // box-shadow: 3px -5px 5px white
.link-separator
    padding-top 30px

#connect-icons-frame
    position: absolute
    bottom menu-padding
    right 0
    text-align right
    a
        text-decoration: none
        cursor pointer
        color #000b
    svg
        width connect-icon-size
        height connect-icon-size

