nav#menuheadercontainer
    #menu
        div: a(href="#company") Company
        div: a(href="#mission") Mission
        div: a(href="#code") Code
        .link-separator
        div: a(href="/developers.html") > Developers
    
    #connect-icons-frame
        a(href="https://matrix.to/#/#dotv-welcome:matrix.weblenny.at" target="_blank"): svg#connect-to-matrix-icon: use(href="#svg-matrix-icon")
        a(href="https://t.me/developersofthevoid" target="_blank"): svg#connect-to-telegram-icon: use(href="#svg-telegram-icon")
    //- h1 Developers of the Void
