nav#menuheadercontainer
    h1 Developers of the Void
    #menucontent
        #decoration-frame
        #menu
            div: a(href="#company") Company
            div: a(href="#mission") Mission
            div: a(href="#code") Code
        #connect-icons-frame
            a(href="https://matrix.to/#/#dotv-welcome:matrix.weblenny.at"): svg#connect-to-matrix-icon: use(href="#svg-matrix-icon")
            a(href="https://t.me/developersofthevoid"): svg#connect-to-telegram-icon: use(href="#svg-telegram-icon")
