menu-padding-top = 7px
top-line-height = 30px
connect-icon-size = 40px
menu-padding-bottom = 21px

bottom-content-line = menu-padding-bottom + top-line-height

#menuheadercontainer
    // position fixed
    // top 0
    // left 0
    height inherit
    overflow hidden

    h3
        text-align: left
        padding-top: menu-padding-top
        margin-bottom: 7px
        height top-line-height
        font-size 21px

#menucontent
    position relative
    height inherit
    

#decoration-frame
    position absolute
    top 0
    left 0
    width 280px
    height inherit
    pointer-events: none
    border-top: solid 2px white
    border-left: solid 2px white

#menu
    border-top: solid 2px white
    text-align: right
    padding-top 20px
    max-width 280px
    margin-left: auto


#connect-icons-frame
    position: absolute
    bottom bottom-content-line
    right 0
    text-align right
    a
        text-decoration: none
        cursor pointer
        color #0007
    svg
        width connect-icon-size
        height connect-icon-size

