include ../svgiconsmodule/svgicons.pug
include ../backgroundmodule/background.pug


include components/projectsslideinmenu.pug
include components/projectsheader.pug
include components/projectsmain.pug
include ../footermodule/footer.pug

include ../upbuttonmodule/upbutton.pug
