[submodule "source/vanillautilmodule"]
	path = source/vanillautilmodule
	url = git@github.com:JhonnyJason/pwa-sources-vanillautilmodule.git
[submodule "source/buttonstylemodule"]
	path = source/buttonstylemodule
	url = git@github.com:JhonnyJason/pwa-sources-buttonstylemodule.git
[submodule "source/messageboxmodule"]
	path = source/messageboxmodule
	url = git@github.com:JhonnyJason/pwa-sources-messageboxmodule.git
