include ../svgiconsmodule/svgicons.pug
include components/background/background.pug
header
    include components/menuheader/menuheader.pug
main
    include components/company/company.pug
    include components/vision/vision.pug
    include components/code/code.pug
footer
    include components/footer/footer.pug