include ../svgiconsmodule/svgicons.pug
include ../backgroundmodule/background.pug

include components/indexslideinmenu.pug
include components/indexheader.pug
include components/indexmain.pug
include ../footermodule/footer.pug

include ../upbuttonmodule/upbutton.pug
include ../messageboxmodule/messagebox.pug
