/*====================================================================
RESET
====================================================================*/
@import '../stylereset/reset.styl'

/*====================================================================
Global Styles
====================================================================*/
@import '../globalstyles/styles.styl'

/*====================================================================
Including other components
====================================================================*/
@import '../allmodules/allstyles.styl'

@import 'components/backgroundmenu/backgroundmenu.styl'
@import 'components/backgroundimage/backgroundimage.styl'
@import 'components/vision/vision.styl'
@import 'components/organisation/organisation.styl'
@import 'components/code/code.styl'

main
    position relative
    margin-top calc(100vh - 100px)
    z-index: 2