include ../svgiconsmodule/svgicons.pug
include components/background/background.pug
include ../slideinmenumodule/slideinmenu.pug
include ../upbuttonmodule/upbutton.pug
include ../messageboxmodule/messagebox.pug
header
    include components/menuheader/menuheader.pug
main
    include components/company/company.pug
    include components/mission/mission.pug
    include components/code/code.pug
footer
    include components/footer/footer.pug
