/*====================================================================
RESET
====================================================================*/
@import '../stylereset/reset.styl'

/*====================================================================
Global Styles
====================================================================*/
@import '../globalstyles/styles.styl'

/*====================================================================
Including Modules
====================================================================*/
@import '../allmodules/allstyles.styl'

/*====================================================================
Including Components
====================================================================*/
@import 'components/company/company.styl'
@import 'components/values/values.styl'
@import 'components/evolve/evolve.styl'
@import 'components/join/join.styl'


#home-link
    color chosen-link-color
    pointer-events: none

#backgroundimage
    background-image: url(/img/footer-bg-index.jpg)

main
    width 100%
    position relative
    padding 0
    margin 0
    // margin-top calc(100vh - 100px)
    // z-index 2