#homepage
    svg(viewBox="0 0 1920 1080")
        g(clip-path="url(#clip0)")
            //- rect.flash(width="1920", height="1080", fill="white")
            g#bottom-segment
                path(d="M-5 1080L843.381 606C843.381 606 883.923 680 968.511 680C1029.57 680 1075.62 611.5 1075.62 611.5L1921 1080H-5Z")
                path#bottom-slice(d="M754.5 659L842.5 608.5C842.5 608.5 878.617 674.905 964.299 671.5C1049.98 668.095 1075.5 608.5 1075.5 608.5L1161.43 659C1161.43 659 1094.13 771.628 964.299 777.5C834.469 783.372 754.5 659 754.5 659Z")
                foreignObject
                    h1#organization Organization /<br> Code
            g#left-segment
                path(d="M956.5 -4V406.5C956.5 406.5 893.5 398.875 844 467.5C800.361 528 844 607 844 607L-0.5 1077V-4H956.5Z")
                path#left-slice(d="M757 656.5L842 606C842 606 806 526 842 469C878 412 956.5 406 956.5 406V305C956.5 305 827 309 757 418.5C687 528 757 656.5 757 656.5Z")                
                foreignObject
                    h1#vision Vision /<br> Mission 
            g#right-segment
                path(d="M956 -4V406.756C956 406.756 1033.1 405.254 1070.56 460.355C1119.29 532.043 1076.06 613.137 1076.06 613.137L1921 1082V-4H956Z")
                path#right-slice(d="M1161.5 659L1075.5 608.5C1075.5 608.5 1117.18 541.5 1071.39 469C1025.6 396.5 956.889 406 956.889 406V305C956.889 305 1091.5 305 1161.5 414.5C1231.5 524 1161.5 659 1161.5 659Z")
                foreignObject
                    h1#collaborate Collaborate /<br> Join
            g#great-logo
                path(d="M925.41 630.006L930.239 628.975L925.41 630.006C925.983 632.689 926.4 637.402 926.38 641.868L926.38 641.868C926.37 644.146 926.354 645.602 926.263 646.685C926.22 647.199 926.167 647.526 926.119 647.737C926.096 647.837 926.076 647.902 926.063 647.94C926.056 647.959 926.051 647.972 926.048 647.979C926.047 647.981 926.046 647.983 926.046 647.985C926.042 647.989 926.036 647.997 926.026 648.008C925.983 648.057 925.868 648.175 925.606 648.376C925.011 648.835 924.128 649.379 922.513 650.343C915.622 654.458 900.989 663.418 896.269 666.412C893.474 668.184 889.808 671.138 887.952 673.246C885.989 675.477 884.19 678.869 882.555 682.658C880.867 686.568 879.169 691.346 877.534 696.684C874.265 707.364 871.171 720.556 868.906 734.085C867.665 741.332 866.155 748.49 864.599 755.738L863.73 759.786L867.544 761.395C896.54 773.622 927.66 780.019 959.128 780.22L959.144 780.22H959.16H960.094H960.102L960.11 780.22C995.123 780.105 1029.68 772.319 1061.36 757.409L1064.81 755.789L1064.16 752.041C1063.11 745.918 1062.07 739.575 1061.22 733.231L1061.2 733.072L1061.17 732.914C1056.82 711.149 1054.74 701.547 1053.38 697.215C1051.49 691.182 1048.82 684.978 1046.04 679.816C1044.65 677.232 1043.2 674.847 1041.76 672.842C1040.38 670.905 1038.81 669.053 1037.14 667.781C1036.57 667.344 1035.57 666.759 1034.68 666.245C1033.64 665.652 1032.3 664.904 1030.77 664.061C1027.7 662.372 1023.76 660.259 1019.77 658.144C1012.56 654.33 1004.81 650.322 1001.67 648.888C1001.65 648.553 1001.62 648.158 1001.59 647.726C1001.55 647.2 1001.5 646.618 1001.46 646.017C1001.32 644.038 1001.14 641.426 1001.01 638.563C1000.74 632.725 1000.66 626.228 1001.24 621.892C1003.26 606.673 1002.71 596.904 1000.32 589.26C998.364 583.012 995.189 578.385 992.151 573.958C991.526 573.047 990.907 572.144 990.305 571.238C988.795 568.963 986.355 566.609 983.857 564.501C981.273 562.32 978.282 560.118 975.372 558.157C972.463 556.198 969.552 554.426 967.107 553.122C965.891 552.473 964.719 551.902 963.677 551.478C962.866 551.148 961.41 550.591 959.931 550.591C958.827 550.591 957.944 550.933 957.587 551.079C957.116 551.27 956.681 551.501 956.321 551.707C955.594 552.124 954.803 552.659 954.026 553.221C952.452 554.358 950.569 555.868 948.689 557.45C944.958 560.59 940.873 564.328 938.799 566.537L942.445 569.959L938.799 566.537C934.911 570.681 931.235 576.9 928.449 583.162C925.664 589.423 923.505 596.317 923.029 601.981C922.765 605.118 922.993 610.336 923.432 615.433C923.877 620.6 924.583 626.134 925.41 630.006Z", fill="black", stroke="black", stroke-width="10")
                path(d="M1096.47 343.996L1093.28 341.776L1090.34 344.318C1085.6 348.414 1080.67 352.627 1075.64 356.666L1075.51 356.767L1075.39 356.875C1059.01 371.848 1051.87 378.585 1048.86 381.989C1044.68 386.73 1040.74 392.22 1037.76 397.267C1036.27 399.793 1034.97 402.269 1034 404.536C1033.06 406.726 1032.28 409.024 1032.06 411.111C1031.98 411.829 1032 412.985 1032.02 414.015C1032.04 415.205 1032.09 416.737 1032.17 418.487C1032.31 421.992 1032.53 426.452 1032.79 430.966C1033.25 439.106 1033.83 447.815 1034.22 451.239C1033.95 451.433 1033.62 451.662 1033.27 451.912C1032.84 452.218 1032.37 452.556 1031.88 452.904C1030.25 454.05 1028.11 455.548 1025.73 457.142C1020.87 460.392 1015.35 463.82 1011.34 465.567L1013.34 470.151L1011.34 465.567C997.262 471.699 989.186 477.225 983.877 483.222C979.536 488.125 977.215 493.235 974.995 498.127C974.538 499.131 974.086 500.127 973.622 501.11C972.455 503.579 971.702 506.884 971.189 510.112C970.658 513.452 970.319 517.151 970.146 520.656C969.973 524.159 969.961 527.566 970.109 530.334C970.182 531.71 970.299 533.009 970.475 534.12C970.612 534.984 970.888 536.518 971.653 537.784L975.933 535.2L971.653 537.784C972.224 538.73 972.973 539.309 973.282 539.539C973.69 539.843 974.112 540.097 974.475 540.298C975.207 540.705 976.074 541.105 976.957 541.48C978.745 542.239 981.01 543.07 983.336 543.861C987.953 545.431 993.264 546.995 996.227 547.627L997.271 542.738L996.227 547.627C1001.78 548.814 1009.01 548.746 1015.81 547.895C1022.61 547.044 1029.62 545.328 1034.72 542.808L1032.5 538.326L1034.72 542.808C1037.54 541.412 1041.89 538.519 1046.03 535.508C1050.22 532.455 1054.59 528.989 1057.48 526.279C1059.48 524.404 1063.3 521.614 1067.14 519.32L1067.14 519.32C1069.09 518.152 1070.35 517.413 1071.32 516.931C1071.78 516.702 1072.09 516.578 1072.29 516.51C1072.39 516.478 1072.46 516.462 1072.5 516.453L1072.51 516.451C1072.52 516.448 1072.53 516.446 1072.54 516.445C1072.54 516.445 1072.54 516.445 1072.54 516.445C1072.55 516.445 1072.56 516.447 1072.57 516.449C1072.64 516.461 1072.8 516.498 1073.11 516.618C1073.81 516.891 1074.73 517.366 1076.39 518.25C1083.47 522.021 1098.7 529.915 1103.7 532.408C1106.67 533.886 1111.09 535.493 1113.85 535.992L1113.86 535.992C1116.78 536.52 1120.61 536.306 1124.7 535.748C1128.92 535.171 1133.89 534.155 1139.3 532.795C1150.14 530.073 1163.03 525.903 1175.78 520.848C1181.71 518.522 1187.7 516.408 1193.77 514.308L1197.63 512.971L1197.09 508.921C1192.68 475.953 1181.46 444.263 1164.13 415.869C1146.81 387.475 1123.77 362.998 1096.47 343.996ZM1064.57 515.029C1072.18 510.481 1072.4 510.462 1078.74 513.836C1085.8 517.595 1100.98 525.466 1105.93 527.932L1064.57 515.029Z", fill="black", stroke="black", stroke-width="10")
                path(d="M830.492 344.173L827.554 341.136L824.07 343.526C796.693 362.304 773.517 386.565 756.011 414.772C738.504 442.979 727.05 474.515 722.374 507.382L721.846 511.089L725.255 512.638C729.692 514.655 734.154 516.722 738.562 518.896L738.707 518.967L738.855 519.029C759.35 527.546 768.48 531.173 772.835 532.457C778.901 534.246 785.539 535.489 791.373 536.06C794.293 536.346 797.083 536.47 799.549 536.394C801.932 536.32 804.342 536.052 806.329 535.374C807.012 535.141 808.054 534.639 808.977 534.184C810.046 533.658 811.412 532.963 812.968 532.158C816.083 530.546 820.03 528.457 824.012 526.318C831.196 522.46 838.846 518.254 841.781 516.451C842.073 516.618 842.416 516.813 842.792 517.026C843.251 517.286 843.759 517.574 844.283 517.873C846.006 518.858 848.271 520.169 850.722 521.654C855.721 524.683 861.16 528.237 864.439 531.134C875.946 541.298 884.369 546.281 892.047 548.558C898.325 550.419 903.937 550.361 909.308 550.306C910.412 550.295 911.505 550.283 912.593 550.289C915.324 550.303 918.638 549.588 921.779 548.689C925.031 547.758 928.525 546.502 931.775 545.178C935.022 543.854 938.115 542.424 940.56 541.12C941.776 540.472 942.904 539.817 943.836 539.188C944.562 538.699 945.836 537.8 946.659 536.572L946.66 536.572C947.275 535.655 947.483 534.732 947.561 534.354C947.664 533.856 947.716 533.367 947.745 532.953C947.804 532.117 947.8 531.162 947.767 530.204C947.7 528.262 947.496 525.858 947.23 523.415C946.702 518.567 945.875 513.092 945.196 510.138C943.922 504.601 940.807 498.084 937.161 492.282C933.515 486.481 928.994 480.847 924.556 477.295C922.098 475.328 917.638 472.609 913.16 470.133C908.621 467.622 903.631 465.124 899.955 463.653L898.097 468.295L899.955 463.653C897.41 462.635 893.265 460.351 889.566 457.844L889.566 457.844C887.68 456.566 886.481 455.742 885.632 455.063C885.23 454.74 884.988 454.514 884.841 454.357C884.808 454.323 884.781 454.293 884.76 454.268C884.734 454.238 884.716 454.215 884.703 454.198C884.691 454.182 884.683 454.171 884.679 454.164C884.678 454.162 884.677 454.161 884.676 454.159C884.674 454.154 884.671 454.144 884.667 454.13C884.651 454.067 884.617 453.906 884.596 453.576C884.547 452.826 884.587 451.789 884.687 449.91C885.11 441.894 885.823 424.756 885.968 419.169C886.053 415.861 885.645 411.17 884.929 408.454L884.929 408.454C884.171 405.581 882.356 402.197 880.122 398.728C877.815 395.148 874.795 391.076 871.273 386.744C864.227 378.078 854.999 368.158 845.027 358.738C840.064 354.015 835.291 349.133 830.492 344.173Z", fill="black", stroke="black", stroke-width="10")
                path#outer-circle(d="M959.627 775.254C1089.21 775.254 1194.25 670.208 1194.25 540.627C1194.25 411.046 1089.21 306 959.627 306C830.046 306 725 411.046 725 540.627C725 670.208 830.046 775.254 959.627 775.254Z", stroke="black", stroke-width="20" fill="none")
                path#inner-circle(d="M960 675C1034.01 675 1094 615.006 1094 541C1094 466.994 1034.01 407 960 407C885.994 407 826 466.994 826 541C826 615.006 885.994 675 960 675Z", stroke="black", stroke-width="10" fill="none")
                path.flash(d="M956.5 305V407.5", stroke="black", stroke-width="10")
                path.flash(d="M843 607L756.5 656.5", stroke="black", stroke-width="10")
                path(d="M1162 660L1075.5 610.5", stroke="black", stroke-width="10")
        defs
            clipPath#clip0
                rect(width="1920", height="1080", fill="white")
//- #title-overlays
//-     h1#vision Vision /<br> Mission 
//-     h1#collaborate Collaborate /<br> Join
//-     h1#organization Organization /<br> Code


//- #dark.section
//-     h1 Hello
//-     p Lorem ipsum dolor sit amet, consectetur adipisici elit, …“ ist ein Blindtext, der nichts bedeuten soll, sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Dokument zu erhalten.    h1.red Hello
//-     h1.red Hello
//-     p.red Lorem ipsum dolor sit amet, consectetur adipisici elit, …“ ist ein Blindtext, der nichts bedeuten soll, sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Dokument zu erhalten.
//-     h1.green Hello
//-     p.green Lorem ipsum dolor sit amet, consectetur adipisici elit, …“ ist ein Blindtext, der nichts bedeuten soll, sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Dokument zu erhalten.
//-     h1.blue Hello
//-     p.blue Lorem ipsum dolor sit amet, consectetur adipisici elit, …“ ist ein Blindtext, der nichts bedeuten soll, sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Dokument zu erhalten.
//- #light.section
//-     h1 Hello
//-     p Lorem ipsum dolor sit amet, consectetur adipisici elit, …“ ist ein Blindtext, der nichts bedeuten soll, sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Dokument zu erhalten.    
//-     h1.red Hello
//-     p.red Lorem ipsum dolor sit amet, consectetur adipisici elit, …“ ist ein Blindtext, der nichts bedeuten soll, sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Dokument zu erhalten.
//-     h1.green Hello
//-     p.green Lorem ipsum dolor sit amet, consectetur adipisici elit, …“ ist ein Blindtext, der nichts bedeuten soll, sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Dokument zu erhalten.
//-     h1.blue Hello
//-     p.blue Lorem ipsum dolor sit amet, consectetur adipisici elit, …“ ist ein Blindtext, der nichts bedeuten soll, sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Dokument zu erhalten.
//- #red-dark.section
//-     h1 Hello
//-     p Lorem ipsum dolor sit amet, consectetur adipisici elit, …“ ist ein Blindtext, der nichts bedeuten soll, sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Dokument zu erhalten.    h1.red Hello
//-     h1.red Hello
//-     p.red Lorem ipsum dolor sit amet, consectetur adipisici elit, …“ ist ein Blindtext, der nichts bedeuten soll, sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Dokument zu erhalten.
//-     h1.green Hello
//-     p.green Lorem ipsum dolor sit amet, consectetur adipisici elit, …“ ist ein Blindtext, der nichts bedeuten soll, sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Dokument zu erhalten.
//-     h1.blue Hello
//-     p.blue Lorem ipsum dolor sit amet, consectetur adipisici elit, …“ ist ein Blindtext, der nichts bedeuten soll, sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Dokument zu erhalten.
//- #green-dark.section
//-     h1 Hello
//-     p Lorem ipsum dolor sit amet, consectetur adipisici elit, …“ ist ein Blindtext, der nichts bedeuten soll, sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Dokument zu erhalten.    h1.red Hello
//-     h1.red Hello
//-     p.red Lorem ipsum dolor sit amet, consectetur adipisici elit, …“ ist ein Blindtext, der nichts bedeuten soll, sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Dokument zu erhalten.
//-     h1.green Hello
//-     p.green Lorem ipsum dolor sit amet, consectetur adipisici elit, …“ ist ein Blindtext, der nichts bedeuten soll, sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Dokument zu erhalten.
//-     h1.blue Hello
//-     p.blue Lorem ipsum dolor sit amet, consectetur adipisici elit, …“ ist ein Blindtext, der nichts bedeuten soll, sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Dokument zu erhalten.
//- #blue-dark.section
//-     h1 Hello
//-     p Lorem ipsum dolor sit amet, consectetur adipisici elit, …“ ist ein Blindtext, der nichts bedeuten soll, sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Dokument zu erhalten.    h1.red Hello
//-     h1.red Hello
//-     p.red Lorem ipsum dolor sit amet, consectetur adipisici elit, …“ ist ein Blindtext, der nichts bedeuten soll, sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Dokument zu erhalten.
//-     h1.green Hello
//-     p.green Lorem ipsum dolor sit amet, consectetur adipisici elit, …“ ist ein Blindtext, der nichts bedeuten soll, sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Dokument zu erhalten.
//-     h1.blue Hello
//-     p.blue Lorem ipsum dolor sit amet, consectetur adipisici elit, …“ ist ein Blindtext, der nichts bedeuten soll, sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Dokument zu erhalten.
//- #red-light.section
//-     h1 Hello
//-     p Lorem ipsum dolor sit amet, consectetur adipisici elit, …“ ist ein Blindtext, der nichts bedeuten soll, sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Dokument zu erhalten.    
//-     h1.red Hello
//-     p.red Lorem ipsum dolor sit amet, consectetur adipisici elit, …“ ist ein Blindtext, der nichts bedeuten soll, sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Dokument zu erhalten.
//-     h1.green Hello
//-     p.green Lorem ipsum dolor sit amet, consectetur adipisici elit, …“ ist ein Blindtext, der nichts bedeuten soll, sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Dokument zu erhalten.
//-     h1.blue Hello
//-     p.blue Lorem ipsum dolor sit amet, consectetur adipisici elit, …“ ist ein Blindtext, der nichts bedeuten soll, sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Dokument zu erhalten.
//- #green-light.section
//-     h1 Hello
//-     p Lorem ipsum dolor sit amet, consectetur adipisici elit, …“ ist ein Blindtext, der nichts bedeuten soll, sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Dokument zu erhalten.    
//-     h1.red Hello
//-     p.red Lorem ipsum dolor sit amet, consectetur adipisici elit, …“ ist ein Blindtext, der nichts bedeuten soll, sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Dokument zu erhalten.
//-     h1.green Hello
//-     p.green Lorem ipsum dolor sit amet, consectetur adipisici elit, …“ ist ein Blindtext, der nichts bedeuten soll, sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Dokument zu erhalten.
//-     h1.blue Hello
//-     p.blue Lorem ipsum dolor sit amet, consectetur adipisici elit, …“ ist ein Blindtext, der nichts bedeuten soll, sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Dokument zu erhalten.
//- #blue-light.section
//-     h1 Hello
//-     p Lorem ipsum dolor sit amet, consectetur adipisici elit, …“ ist ein Blindtext, der nichts bedeuten soll, sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Dokument zu erhalten.    
//-     h1.red Hello
//-     p.red Lorem ipsum dolor sit amet, consectetur adipisici elit, …“ ist ein Blindtext, der nichts bedeuten soll, sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Dokument zu erhalten.
//-     h1.green Hello
//-     p.green Lorem ipsum dolor sit amet, consectetur adipisici elit, …“ ist ein Blindtext, der nichts bedeuten soll, sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Dokument zu erhalten.
//-     h1.blue Hello
//-     p.blue Lorem ipsum dolor sit amet, consectetur adipisici elit, …“ ist ein Blindtext, der nichts bedeuten soll, sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Dokument zu erhalten.
