doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        
        title Sample Page Head
        
        //- Title and Description
        meta(name='description', content='Sample Description in the Sample Page Head')
        link(rel='manifest' href='sample-manifest.json')
        
        //- Open Graph meta Tags
        meta(property='og:image' content="https://gefaesse.at/img/oegia-logo.svg")
        meta(property='og:title' content="")
        meta(property='og:description' content='')
        meta(property='og:type' content="website")
        meta(property='og:url' content="https://dotv.ee")
        meta(property='og:locale' content="en_US")

        //- Manifest
        link(rel='manifest' href='manifest.json')

        //- Favicon
        link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
        link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
        link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
        
        meta(name="msapplication-TileColor", content="#da532c")
        meta(name="theme-color", content="#ffffff")
        
        //- Screen
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        include styles-include.pug
    body
        include ../../source/index/indexbody.pug
        include scripts-include.pug
