section#people
    .black-block
        .max-content
            h1 Network
            p Connected People.
            
    .block 
        .max-content
            include person-card2.pug 
            include person-card3.pug

    .gap