section#people
    .black-block
        .max-content
            h1 Support Network
            p Developers of mental health and a ressourceful way of life.
            
    .block 
        .max-content 
            include person-card1.pug 
            include person-card2.pug 
            include person-card3.pug

    .gap