// #estonia-flag
//     width 100%
//     h

#blue-strip
    background-color: #0072CE
    width 50%
    height 10px

#black-strip
    background-color: black
    width 50%
    height 10px

#white-strip
    background-color white
    width 50%
    height 10px
