section#code
    .block
        .max-content
            h1 Organisation / Support 
            h2 Developers of the Void 
            h3: a(href="https://ariregister.rik.ee/eng/company/16327996/DotV-O%C3%9C?search_id=fbe31d9&pos=1" target="_blank") DotV OÜ (16327996)
            address 
                p Harju maakond, Tallinn,<br>
                    | Kesklinna linnaosa, Narva mnt 7,<br>
                    | 10117, Estonia

            #blue-strip
            #black-strip 
            #white-strip
    .block
        .max-content
            h2 Partners 
            h3: a(href="https://rgb.ag" target="_blank") RGB.AG
            h3: a(href="https://xeredo.it" target="_blank") Xeredo
            h3: a(href="https://kaleidos.net" target="_blank") Kaleidos

            h2 Background
            //- p 
    .gap 
    .block
        .max-content
            h2 Support