section#code
    .black-block
        .max-content
            h1 The Code 
            p A few entry points into the Void.
    .block 
        .max-content 
            h2 Thingycreate
            a(href=""): svg: use(href="#svg-gitlab-icon")
            a(href=""): svg: use(href="#svg-github-icon")
            h2 Asset Flow Control System 
            a(href=""): svg: use(href="#svg-gitlab-icon")
            a(href=""): svg: use(href="#svg-github-icon")
            h2 Secret Manager
            a(href=""): svg: use(href="#svg-gitlab-icon")
            a(href=""): svg: use(href="#svg-github-icon")

    .gap
    .black-block 
        .max-content 
            h1 Join us!
            p Enter the Void.
    .block 
        .max-content 
            h2 Join us on Matrix
            a(href=""): svg#connect-to-matrix-icon: use(href="#svg-matrix-icon")
            h2 Join us on Telegram 
            a(href=""): svg#connect-to-telegram-icon: use(href="#svg-telegram-icon")
    .black-block 
