/*====================================================================
RESET
====================================================================*/
@import '../stylereset/reset.styl'

/*====================================================================
Global Styles
====================================================================*/
@import '../globalstyles/styles.styl'

/*====================================================================
Including modules
====================================================================*/
@import '../allmodules/allstyles.styl'

/*====================================================================
Including components
====================================================================*/
@import 'components/cardbases/styles.styl'
@import 'components/developers/developers.styl'
@import 'components/people/people.styl'
@import 'components/managers/managers.styl'

/*====================================================================
Specific styles
====================================================================*/
#developers-link
    color chosen-link-color
    pointer-events: none

#backgroundimage
    background-image: url(/img/footer-bg-developers.jpg)

main
    width 100%
    position relative
    padding 0
    margin 0


.austrian-red
    background-color: #C8102E
    height 10px


.swiss-flag
    position relative
    background-color: red
    color white
    height 30px
    width 30px

.liechtenstein-flag
    height 30px
    width 50px
