/*====================================================================
RESET
====================================================================*/
@import '../stylereset/reset.styl'

/*====================================================================
Global Styles
====================================================================*/
@import '../globalstyles/styles.styl'

/*====================================================================
Including other components
====================================================================*/
@import '../allmodules/allstyles.styl'

@import 'components/mixin-developers/mixin-developers.styl'

@import '../index/index.styl'

.really-big
  font-size: 2.5em

.d-section
  padding: 0 8em
