section#services
    .black-block
        .max-content
            h1 Our Services
            p We are a small and personal company who cares a lot about their few customers.
            p We do have quite a few things to offer.

            p At best be inspired and contact us - let us talk about everything first. Our initial talk and our first consultation is <b>free of charge.</b>

            p Below you find a summary of what we could help you with. 

    .block
        svg.service-decoration: use(href="#svg-linux-icon")
        .max-content
            h2 Linux Administration / Maintenance / Customization
            p You have server infrastructure which lacks a system administrator?
            p You want a custom desktop system based on Linux?
            p You want to free yourself from proprietary Windows or MacOS?

            p We get you covered. We secure your data, your system and support you personally.

            p <b>Linux Only</b>

    .block
        svg#assistance-decoration.service-decoration: use(href="#svg-it-consierge-graphic")
        .max-content
            h2 Allround Webtech Assistance
            p Is it a prestige website with your personal email address or something absolutely crazy.
            p As your "personal webmaster", "web technology assistant" or "IT Concierge" we may help your cause.

            ul
                li Domains
                li Emails
                li Hosting
                li Websites 
                li Webapps 
                li Services

            p We handle it all for your business or private purpose.

    .block
        svg.service-decoration: use(href="#svg-userinterfaces-graphic")
        .max-content
            h2 Custom Websites / Webapps / User Interfaces
            p You need a management-tool, or a very special website?
            p You need a tool for data visualization or data collection?

            p We focus on webtech to create allmighty User-Interfaces for any purpose. Offline, mobile or online.

            p The most empowering thing in this world is a conveniently usable tool. 

            p <b>If you can specify it, we can build it.</b>
    
    .block
        svg.service-decoration: use(href="#svg-webservices-graphic")
        .max-content
            h2 Custom Web Services
            p You need an API based Service to collect, process or/and distribute data?
            p You need a robot to automatize your trading Strategies?
            p You need a robot for maintenance tasks or a chatting?

            p Most any kind of data-processing can be implemented as a service - 24/7/365 ready for when you need it.

            p <b>If you can specify it, we can build it.</b>

    .block
        svg#platform-decoration.service-decoration: use(href="#svg-platform-graphic")
        .max-content
            h2 Complete Online Plattform
            p You have a big idea and need a competent partner for its implementation?
            p A partner who would dive deep into the idea and take on high levels of uncertainties or risks.

            p We are proud to technically enable your success by leveraging the full capabilities of modern web technology.
            p <b>This part is our favourite.</b>

            p If the Idea and communication is good plus **you are genuinely determined** to go through the whole journey. 

            p We claim once again: <b>If you can specify it, we can build it.</b>
    
    .black-block
    .gap
