section#projects
    .black-block
        .max-content
            h1 DotV Projects
            p Projects actively developed on by .V
    include ../../../destraightenmodule/top-white-on-black.pug
    .block 
        .max-content
            p.todo //TODO: Link the currently important projects
            #the-void
            //- h2 Thingycreate
            //- a(href=""): svg: use(href="#svg-gitlab-icon")
            //- a(href=""): svg: use(href="#svg-github-icon")
            //- h2 Asset Flow Control System 
            //- a(href=""): svg: use(href="#svg-gitlab-icon")
            //- a(href=""): svg: use(href="#svg-github-icon")
            //- h2 Secret Manager
            //- a(href=""): svg: use(href="#svg-gitlab-icon")
            //- a(href=""): svg: use(href="#svg-github-icon")
    include ../../../destraightenmodule/bottom-white-on-transparent-inverted.pug
    //- .gap