.person-card
    .main-content-block
        .avatar
            block picture 
        .middle-block
            h3 
                block name
            p 
                block title
                
            p 
                block roles
        .right-block
            block connection_links
    .flags-line
        block flags