section#values
    .black-block
        .max-content
            h1 Our Values
            p We see ourselves living in a crucial moment in human history.
            p Our most recent biggest problems show us our own responsibility in our evolution and that it does not dissappear nor is less relevant in peaceful times.
            p Our base culture - the values we live by and reflect into every aspect of our life -  is the first thing we are responsible for. <b>We have to protect it from the influence and corruption by any evil force.</b>

    include ../../../destraightenmodule/top-white-on-black.pug
    .block
        .max-content
            h2 Dignity and Wellbeing 
            p We see that every being has it's right on dignity and general wellbeing.
            p We know that this means we need to hold our own dignity well up and take responsibility over our own wellbeing first.
            svg.value-decoration: use(href="#svg-wellbeing-icon")
            p And in our actions we donot commit any deeds for the sake of diminishing someone else' dignity or wellbeing.
    .block
        .max-content
            h2 We go the Hard Path
            p We avoid the convenience traps.
            svg.value-decoration: use(href="#svg-hard-path-icon")
            p We improve our skills.
            p We push out of our comfort zone for what we feel is right and necessary.
    .block
        .max-content
            h2 Sustainability 
            p Or call it "reasonable farsightedness".
            p We donot reap the harvest to the maximum such that less may regrow the next year.
            svg.value-decoration: use(href="#svg-sustainability-icon")
            p We leave things better than before we were here.
            p Encourage children to evolve into capable human beings with a strong and helpful set of values.

    include ../../../destraightenmodule/bottom-white-on-transparent-inverted.pug
    .gap
        a#human-evolution-graphics(href="https://commons.wikimedia.org/wiki/File:Evolution-des-wissens.jpg" target="_blank"): svg: use(href="#svg-human-evolution-picture")       
    
    .block
        .max-content
            h2 Rule of Law
            p Everybody is to be held accountable in front of the law - equally and fair.
            p The law must be comprehensible and fair. <b>Accessible.</b>
            svg.value-decoration: use(href="#svg-rule-of-law-icon")
            p The laws must respect all fundamental rights.
            p <b>This is not a given and we can do much better.</b>
    .block
        .max-content
            h2 Democracy
            p Decentralization of power.
            p Open pluralism to countercheck every position. The general separation of Powers.
            svg.value-decoration: use(href="#svg-democracy-icon")
            p Accountability for lies, corruption and disregard of the people.
            p Protecting our mind from tactical media influence targeted in shaping our opinion.
            p <b>This is not a given and we can do much better.</b>
    .gap
        p We are not legion, we do forgive.<br>
            | But we never forget.
    //- include ../../../destraightenmodule/top-white-on-transparent-inverted.pug
    .block
        .max-content
            h2 Science
            ul 
                li Observe a Phenomenon 
                li Fold it into your knowledge tree
                li Generate an Hypothesis
                li Test with Experiments and capture the data well
                li Analyse the Results and share the data
                li Adjust your knowledge tree accordingly
                li Destroy the Hypothesis if necessary
            
            svg.value-decoration: use(href="#svg-science-icon")
            p This is the sober and only way to reasonably evolve our knowledge tree.<br> 
                | It is important that everybody plays a part in this to expand their understanding of the world on their own terms.

            p We acknowledge and admit again and again:<br>
                | <b>We are biased</b>.
        
    //- include ../../../destraightenmodule/bottom-white-on-transparent-inverted.pug
    //- .small-gap
    //- .small-gap
    //- include ../../../destraightenmodule/top-white-on-transparent-inverted.pug
    .gap
        svg#post-science-roots: use(href="#svg-tree-roots")

    include ../../../destraightenmodule/top-white-on-transparent-inverted.pug
    .block
        .max-content
            h2 Reason
            p Deep down we are all capable of reason. Only on the surface we are often in a fight - especially in discussions or when we feel like being in a tribal war.

            svg.value-decoration: use(href="#svg-reason-icon")

            p With reason we tolarate our hated neighour, defuse our jealousy and greed.<br>
                | With reason we may all act appropriately without a behavioural guide or authoritarian enforcement.
            
            p We step into reason through soberly stepping back from a situation and relax.

            p <b>We always demand reason.</b>
    .block
        .max-content
            h2 Faith
            p We deeply believe that everything is the best version it could be.<br>
                | Everything is perfect, although often we don't understand it.

            p We have our part in this world - we are that part of the world.<br> 
                | And we carry our light into the world.
            svg#faith-decoration.value-decoration: use(href="#svg-faith-icon")
            p Some things cannot willfully be planned and constructed at brute will. Many times things will fall right into place by themselves.<br>
            p <b>We are not fully in control.</b> 
                
            p However there is also this idea that <b>we should be in control</b>.<br>We will gracefully deal with that.

            p We donot let ourselves be blocked and misled by blind and useless faith.
    .block
        .max-content
            h2 Growth
            p Nothing is static.<br>
                |If it does not grow then it will decay. All of life inherently wants to grow and evolves along the way.<br>
                | <b>We are never finished people or a finished culture.</b>
            svg.value-decoration: use(href="#svg-growth-icon")
            p We see people not as static objects, rather as growing subjects. 
            p The best thing we all can do is to improve.
            p If we do that consistently - that is the way to go.

    include ../../../destraightenmodule/bottom-white-on-transparent.pug
    .gap 