.todo
    text-align: center
    width 100%
    color #999
    margin-top 56px
    margin-bottom 91px
    max-width: none
    background-color #eee

#estonian-flag
    width 50%

.estonian-blue
    background-color: #0072CE
    height 10px
.austrian-red
    background-color: #C8102E
    height 10px

.black-strip
    background-color: black
    height 10px

.white-strip
    background-color white
    height 10px

#avatar
    border-radius: 50%
    width: 200px
#top-block
    display flex
    margin-bottom 20px
#founder-block
    background-color: #eee
    padding 20px
    border-radius: 3px
    margin-bottom 56px

#middle-block
    text-align right
    margin-left: 60px
#right-block
    background-color black

#other-flags
    display flex
    width 50%

#swiss-flag
    position relative
    background-color: red
    color white
    height 30px
    width 30px

#swiss-cross
    font-weight bold
    font-size: 40px
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)

#liechtenstein-flag
    height 30px
    width 50px

#austrian-flag
    flex-grow: 2