section#company
    .black-block
        .max-content
            h1 The Company 
            h2 Developers of the Void 
            h3: a(href="https://ariregister.rik.ee/eng/company/16327996/DotV-O%C3%9C?search_id=fbe31d9&pos=1" target="_blank") DotV OÜ (16327996)
            address 
                p Harju maakond, Tallinn,<br>
                    | Kesklinna linnaosa, Narva mnt 7,<br>
                    | 10117, Estonia
            .flags-line
                .estonian-flag
                    .estonian-blue
                    .black-strip 
                    .white-strip
    .block
        .max-content
            p.todo // TODO: Add visualized information  
    .gap