section#company
    .black-block
        .max-content
            h1 The Company 
            h2 Developers of the Void 
            h3: a(href="https://ariregister.rik.ee/eng/company/16327996/DotV-O%C3%9C?search_id=fbe31d9&pos=1" target="_blank") DotV OÜ (16327996)
            address 
                p Harju maakond, Tallinn,<br>
                    | Kesklinna linnaosa, Narva mnt 7,<br>
                    | 10117, Estonia
            #estonian-flag
                .estonian-blue
                .black-strip 
                .white-strip
    .block
        .max-content
            p#todo // TODO: Add Informations and beautiful Statistics here
            h2 The Developing Developers
            #founder-block
                #top-block
                    img#avatar(src="/img/unsplash/mea.JPG")
                    #middle-block
                        h3 Lenard Frommelt
                        p Supervisor of Systems <br>Evolution
                        p Mentor / Student
                    #right-block
                        #linkedin-link
                        #github-link
                #other-flags
                    svg#swiss-flag: use(href="#svg-swiss-flag-icon")                    
                    svg#liechtenstein-flag: use(href="#svg-liechtenstein-flag-icon")
                    #austrian-flag
                        .austrian-red
                        .white-strip
                        .austrian-red
    .black-block
        .max-content
            h2 Support and Funding
            p If you need support don't hesitate to drop a request.<br> 
                a(href="mailto:master@lennymail.at") master@lennymail.at
            h3 Actively Support us
            p We are just in the beginning of the story and we could use any sort of support.
            p For financial support consider these options:
            p BTC<br> 
                | ETH<br> 
                | IBAN<br>
                | PayPal  

            h2 Partners and Friends
            h3: a(href="https://rgb.ag" target="_blank") RGB.AG
            p More General Umbrella Project for many related Projects and company. Created by a longer term friend. Proud to to be standing under this umbrella.

            h3: a(href="https://xeredo.it" target="_blank") Xeredo
            p Young and highly talented digital Native - a funny story how I got to know him. Very impressed about his advancements and coincidental alignment of ideas. He joined the Graz circle in 2019.
            //- h3: a(href="https://kaleidos.net" target="_blank") Kaleidos
            h3: a(href="https://dotv.ee" target="_blank") .V 
            p Whatch out, infinite recursion detected!
    .gap 
    .block
        .max-content
    .gap
