section#company
    .black-block
        .max-content
            h1 The Company 
            h2 Developers of the Void 
            h3: a(href="https://ariregister.rik.ee/eng/company/16327996/DotV-O%C3%9C?search_id=fbe31d9&pos=1" target="_blank") DotV OÜ (16327996)
            address 
                p Harju maakond, Tallinn,<br>
                    | Kesklinna linnaosa, Narva mnt 7,<br>
                    | 10117, Estonia
            .flags-line
                .estonian-flag
                    .estonian-blue
                    .black-strip 
                    .white-strip
    .block
        .max-content
            p.todo // TODO: Add visualized information  
            h2 The Developing Developers
            include dev-card1.pug
            include dev-card2.pug 
            include dev-card3.pug
    .gap
        p We are not legion, we do forgive.<br>
            | But we never forget.<br>
            | Join us.

    .black-block
        #funding-part1.max-content
            svg#sprout-top(viewBox="0 0 456 493")
                path(fill="currentColor" d="M203.416 491.548C219.982 456.599 239.59 478.765 250.586 441.912C256.893 420.774 198.548 320.338 194.063 315.94C192.3 314.21 183.686 314.74 168.939 317.483C107.698 328.879 83.0663 317.735 71.0922 273.215C62.2542 240.356 57.6594 229.612 47.4316 217.892C37.9601 207.038 14.1592 193.529 4.50751 193.529C-7.18585 193.529 5.09594 188.395 27.2617 184.017C88.9328 171.835 151.662 192.827 181.532 235.64C195.081 255.061 198.474 265.117 200.644 292.296C202.877 320.251 204.7 322.43 213.859 308.088C217.999 301.605 227.365 289.244 234.671 280.621C257.543 253.627 269.437 228.873 273.517 199.775L275.406 186.301L260.704 180.448C231.231 168.714 215.146 149.225 208.404 117.076C204.832 100.048 197.158 2.06115 199.236 0.0227267C199.749 -0.480612 207.273 7.43871 215.956 17.6212C224.639 27.8036 245.804 48.3468 262.988 63.2727C280.173 78.1986 296.904 94.6509 300.17 99.8334C309.751 115.04 308.267 131.741 294.801 160.25C285.531 179.877 285.871 188.148 282.335 204.207C279.772 215.844 274.903 229.663 273.192 238.458L270.006 254.837L277.89 250.838C282.226 248.638 289.879 240.55 294.895 232.864C308.22 212.446 322.992 203.358 345.093 201.977C354.885 201.366 369.757 202.307 378.142 204.069C392.589 207.105 441.801 228.742 453.045 237.001C457.933 240.592 457.309 241.158 443.52 245.638C435.404 248.275 415.906 256.115 400.19 263.059C350.811 284.879 328.66 288.894 310.341 279.345C301.841 274.915 290.724 262.475 287.938 254.276C286.315 249.499 262.146 267.892 251.692 281.861C237.954 300.218 215.34 306.772 224.149 341.076C234.061 379.68 297.544 430.426 271.774 464.27L250.28 492.499H230.048L203.416 491.548Z")
            h2 Funding
            p All initial funds for .V come out of my pocket. It is set up in such a way that it is not directly dependent on further money inflow.
            p This setup is a major success, now we don't have to feel the necessity to sell. Now we may just focus on the <a href="#mission">mission</a>.
            p.todo // TODO: Link specifics about the setup
    .block
        #funding-part2.max-content
            svg#sprout-bottom(viewBox="0 0 447 488")
                path(d="M311.706 487.742C324.162 455.847 328.808 353.238 319.747 310.136C313.885 282.25 306.591 263.758 284.067 219.674C274.459 200.869 263.423 178.763 259.543 170.548L252.488 155.612L251.641 163.316C248.957 187.735 247.491 197.94 242.194 229.06C232.336 286.977 231.703 294.133 231.915 345.256C232.137 398.604 230.753 421.618 226.282 438.936C223.414 450.044 216.076 467.321 218.038 458.345C222.181 439.396 222.213 411.154 218.133 375.501C214.779 346.197 213.526 326.147 213.488 301.203C213.439 268.514 215.043 250.64 223.501 189.664C227.531 160.605 230.815 136.238 230.798 135.514C230.781 134.791 228.225 138.946 225.118 144.748C204.546 183.161 172.55 212.784 137.505 225.863C126.549 229.952 126.458 230.025 123.945 236.662C110.571 271.984 102.71 323.359 103.945 367.377C104.505 387.314 104.404 388.65 102.844 382.076C98.4058 363.371 96.6482 346.005 96.0055 314.505C95.2736 278.634 96.4253 265.379 101.889 246.786C103.671 240.723 104.958 235.608 104.748 235.419C104.539 235.23 100.454 235.862 95.6688 236.824C87.3115 238.504 86.564 238.991 76.6625 249.187C57.7673 268.646 40.0678 298.8 23.9583 338.978C19.6879 349.628 16.0132 358.165 15.7922 357.947C15.1161 357.283 27.1054 314.209 33.446 294.522C40.4865 272.662 44.4301 263.534 51.2053 253.414C53.9451 249.322 56.7136 245.155 57.3575 244.154C58.3216 242.655 57.1399 242.449 50.6657 242.986C31.2647 244.598 15.0702 239.16 0.911017 226.281C-3.69747 222.088 -7.25116 218.445 -6.98608 218.185C-6.72101 217.925 -3.20377 219.468 0.829985 221.614C27.429 235.769 62.1725 230.965 112.399 206.186C135.695 194.694 171.047 166.111 181.919 149.979C186.933 142.538 201.161 116.782 206.035 106.322L209.268 99.3836L204.33 101.45C191.169 106.959 185.151 108.961 173.23 111.797C166.124 113.488 155.672 115.298 150.003 115.82C140.972 116.651 139.001 117.328 134.078 121.284C126.335 127.507 123.52 130.889 113.484 146.034C104.161 160.102 95.8885 169.422 90.0472 172.44C104.452 147.544 110.107 137.29 121.348 116.612L116.204 115.763C98.3398 112.812 87.2566 108.252 80.1833 100.943C76.5891 97.2287 68.4148 86.2021 69.2557 86.2021C69.5213 86.2021 72.9651 87.7314 76.9086 89.6006C95.4658 98.3965 120.311 100.361 150.075 95.3864C170.544 91.9651 173.075 91.1194 186.678 83.1575C202.075 74.1457 210.324 67.8651 217.3 59.8424C242.602 25.5653 235.586 16.5258 246.346 1.58453L294.158 1C294.158 1 263.465 49.1613 266.087 64.4526C276.058 101.269 304.016 117.94 359.329 137.529C394.333 149.926 415.356 161.152 433.498 177.137C440.659 183.445 449 194.124 449 196.982C449 198.135 440.807 192.916 430.361 185.109C422.31 179.092 407.79 172.057 398.529 169.687C390.075 167.524 348.622 166.854 348.622 168.881C348.622 169.514 349.57 172.62 350.729 175.785C351.888 178.95 354.326 189.807 356.149 199.911C360.757 225.468 363.689 233.097 383.384 270.764C408.738 319.259 416.874 342.596 416.877 366.844C416.878 373.292 416.576 378.271 416.205 377.907C415.834 377.543 414.326 371.704 412.853 364.933C408.4 344.456 396.271 317.364 378.327 287.813C346.655 235.652 338.585 218.156 330.522 184.169C325.181 161.657 325.216 161.719 315.66 157.326C304.647 152.262 293.125 144.476 282.952 135.222L274.665 127.683L275.648 132.256C277.005 138.564 285.168 163.561 290.024 176.279C292.233 182.065 301.487 201.933 310.587 220.43C319.688 238.927 328.897 259.362 331.052 265.841C333.207 272.321 349.205 301.209 351.861 305.524C359.583 318.071 357.173 323.916 365.998 355.776C379.138 403.214 384.915 418.598 396.815 437.84C378.636 428.554 355.816 361.461 342.464 335.275C333.824 351.293 333.592 378.059 333.06 395.743C331.586 412.207 329.677 461.17 319.88 477.3C312.789 488.976 309.665 492.967 311.706 487.742V487.742Z" fill="currentColor")

            h2 Donate! Make us Great!
            p Every further bit helps to expand our efforts.            
            #donation-block
                #donation-buttons
                    //- svg#donate-bitcoin-button(): use(href="#svg-bitcoin-icon")
                    //- svg#donate-ethereum-button(): use(href="#svg-ethereum-icon")
                    svg#donate-sepa-button(): use(href="#svg-sepa-icon")

                #donation-information.sepa-information-shown
                    //- #bitcoin-information 
                    //-     p Bitcoin Address:
                    //-     #copy-bitcoin-address-button.click-button
                    //-         #bitcoin-address() bc1qy4eksdnll3w8w3kawc7p2a4fc6ftrmrkxhlmfk
                    //-         svg: use(href="#svg-copy-icon")
                    //- #ethereum-information
                        p ETH Address: 
                        #copy-ethereum-address-button.click-button
                            #ethereum-address() 0x851BF6398204a7d4d4c57Ffd64CDdAAD5b423174
                            svg: use(href="#svg-copy-icon")
                    #sepa-information
                        p DotV OÜ<br>
                        #copy-iban-address-button.click-button
                            #iban-address() BE23 9672 3318 1191
                            svg: use(href="#svg-copy-icon")
                        p BIC: TRWIBEB1XXX
            p Donot hesitate to contact us - for we do work on further donation pathways.
    #claim-block.black-block.one-line-centered-block
        //- .max-content
        //-     p I dare to claim we will use it extraordinarily effective when looking at it from a long-term perspective of a philantropist.
    #thank-you-block.block.one-line-centered-block
        .max-content
            p Thank You!
    .gap
