section#company
    .black-block
        .max-content
            h1 The Company 
            h2 Developers of the Void 
            h3: a(href="https://ariregister.rik.ee/eng/company/16327996/DotV-O%C3%9C?search_id=fbe31d9&pos=1" target="_blank") DotV OÜ (16327996)
            p VAT Number: EE102483253
            address 
                p Harju maakond, Tallinn,<br>
                    | Kesklinna linnaosa, Narva mnt 7,<br>
                    | 10117, Estonia
            .flags-line
                .estonian-flag
                    .estonian-blue
                    .black-strip 
                    .white-strip

    .block
        .max-content
            h2#availability-indicator.available Available
            p We are happy to inform you that we have free ressources available to take in <b>two</b> new clients.
            //- p We are happy to inform you that we have free ressources available to take in <b>one</b> new client.
            //- h2#availability-indicator.booked Booked
            //- p Unfortunately we are booked out right now and will not take in any new client for now. Any new request will most likely experience a delayed response.
            //- #availability-face :-)

    //- .block
    //-     .max-content
    //-         p.todo // TODO: Add visualized information

            
    .gap