section#company
    .black-block
        .max-content
            h1 The Company 
            h2 Developers of the Void 
            h3: a(href="https://ariregister.rik.ee/eng/company/16327996/DotV-O%C3%9C?search_id=fbe31d9&pos=1" target="_blank") DotV OÜ (16327996)
            address 
                p Harju maakond, Tallinn,<br>
                    | Kesklinna linnaosa, Narva mnt 7,<br>
                    | 10117, Estonia
            .flags-line
                .estonian-flag
                    .estonian-blue
                    .black-strip 
                    .white-strip
    .block
        .max-content
            p.todo // TODO: Add information and beautiful statistics here
            h2 The Developing Developers
            include dev-card1.pug
            include dev-card2.pug 
            include dev-card3.pug
    .gap
        p We are not legion, we do forgive.<br>
            | But we never forget.<br>
            | Join us.

    .black-block
        .max-content
            h2 Funding
            p All initial funds for .V come out of my pocket. It is set up in such a way that it is neither dependent on customers, nor on further investors to fuel the basic activities.
            p This seems necessary as it appears to me that both, satisfying customers as well as satisfying investors is a dangerously corruptive influence.
            

    .block
        .max-content
            p However, every bit more helps :) 
            
            h2 Donate! Make us Great!

            p Here are the possibilities on how to donate:
            
            ul#donation-options
                li IBAN
                li BTC Address
                li ETH Address


            p I dare to claim that the company really could use it and it may use it well.

            p If you are open to receive some thank-you gifts some years later - consider write an email with the amount you donate timly before you do your donation.

            p Thank You!
    .gap
