section#company
    .black-block
        .max-content
            h1 The Company 
            h2 Developers of the Void 
            h3: a(href="https://ariregister.rik.ee/eng/company/16327996/DotV-O%C3%9C?search_id=fbe31d9&pos=1" target="_blank") DotV OÜ (16327996)
            p VAT Number: EE102483253
            address 
                p Harju maakond, Tallinn,<br>
                    | Kesklinna linnaosa, Narva mnt 7,<br>
                    | 10117, Estonia
            .flags-line
                .estonian-flag
                    .estonian-blue
                    .black-strip 
                    .white-strip
            #legal-documents
                ul
                    li: a(href="/doc/dotv-terms-of-service.pdf" target="_blank") § Terms of Service >
                    li: a(href="/doc/dotv-dataprotection.pdf" target="_blank") § Dataprotection >
                    li: a(href="/doc/dotv-aml-policy.pdf" target="_blank") § AML Policy >
    //- include ../../../destraightenmodule/top-white-on-black.pug
    //- .block
    //-     .max-content
    //-         p.todo // TODO: Add visualized information
    include ../../../destraightenmodule/top-white-on-black.pug
    .block
        .max-content
            h2#availability-indicator.available Available
            
            //- Totally free
            //- p We are happy to inform you that we are completely free right now and thus may take on clients with huge projects.
            //- svg#availability-calendar: use(href="#svg-calendar-free-icon")

            //- 3 free
            //- p We are happy to inform you that we many have free ressources available to take in <b>three</b> new clients.
            //- svg#availability-calendar: use(href="#svg-calendar-3free-icon")

            //- 2 free
            //- p We are happy to inform you that we have free ressources available to take in <b>two</b> new clients.
            //- svg#availability-calendar: use(href="#svg-calendar-2free-icon")
            
            //- 1 free 
            p We are happy to inform you that we have free ressources available to take in <b>one</b> new client.
     
            //- always here on booked
            p  Contact us <a id="email-link"> here </a>
            p#contact-hint Hint: click twice

            svg#availability-calendar: use(href="#svg-calendar-1free-icon")
            
            //- //- Totally booked
            //- h2#availability-indicator.booked Booked
            //- p Unfortunately we are booked out right now and will not take in any new client for now. Any new request will most likely experience a delayed response.
            //- svg#availability-calendar: use(href="#svg-calendar-booked-icon")

    include ../../../destraightenmodule/bottom-white-on-black.pug    
    .black-block
    .gap