available-green = #78d569
booked-red = #e53e4e


.estonian-blue
    background-color: #0072CE
    height 10px

#availability-indicator
    text-align: center
    text-transform: uppercase
    font-weight: bold
    padding 7pt 0
    
.available
    background-color available-green
    // border-color #78D965
    box-shadow: 0px 0px 8px 1px available-green

.booked
    background-color booked-red
    // border-color #78D965
    box-shadow: 0px 0px 8px 1px booked-red

#availability-face
    position absolute
    font-size 24pt
    left 75%
    bottom 10pt
    transform rotate(90deg)
