extends developerbase.pug 
block picture
    svg#json-avatar: use(href="#svg-anon-icon")
block name
    | Json Anon
block title 
    | Master Cray (MC)
block roles
    | Developer of Human Resources
block connection_links
block flags
    #json-flags
        .austrian-flag
            .austrian-red
            .white-strip
            .austrian-red

