extends developerbase.pug 
block picture
    svg#gson-avatar: use(href="#svg-anon-icon")
block name
    | Gson Anon
block title 
    | Master Cray (MC)
block roles
    | Developer of Human Connections
block connection_links
block flags
    #gson-flags
        .austrian-flag
            .austrian-red
            .white-strip
            .austrian-red

