section#evolve
    .black-block
        .max-content
            h1 Develop to Evolve

    include ../../../destraightenmodule/top-white-on-black.pug
    .block
        .max-content
            //- h1 Develop to Evolve
            svg.evolve-decoration: use(href="#svg-developer-grow")
            
            h2 To Feral Developers:
            p There is this one big thing the world needs to be built.<br>
                | However, it's very hard to define.

            p We have some ideas, a coarse feeling of what it should be.<br>
                | We know that you will know what we mean if you give it a reasonable thought.

            p Probably you'd describe it from a different angle.<br>
                | Probably at once you'd only cover a subset of the usecases it entails.<br>
                | Don't worry. This simply is - for everyone of us.

            p Thus we started to develop "the Void".<br>
                | It's a Mosaic out there. And piece by piece it will fall into place. 

            p Important is the decision to go this Journey.<br>
                | We will learn a lot along the Journey.<br>
            
            p <b>And maybe we will meet you there.</b>

    include ../../../destraightenmodule/bottom-white-on-black.pug
    .black-block.multi-line-centered-block 
        .max-content
            p We know that we need to develop (it).
            p Together. 
            p <b>We develop to evolve.</b>
            //- #underline
    .gap
        svg#important-things-map: use(href="#svg-important-map")