section#foss
    .black-block
        .max-content
            h1 FOSS
            p For a free an open World.
            p We fully commit to FOSS.

    include ../../../destraightenmodule/top-white-on-black.pug
    .block
        .max-content
            h2 FOSS is our Mission
            p We see ourselves as free developers.<br>
                | Most software should be free and open source software.
            p <b>Information has no ownership.</b>

            p Decentralization, permissionlessness, transparancy and ownership are keys to a fair and free society.<br> 
            p Collectivly we solve problems and the solution belongs to everyone.<br>

            svg#foss-decoration.value-decoration: use(href="#svg-foss-graphic")

            p <b>We empower people.</b>

            p Being dependent on a proprietary construct or system which we cannot simply change or switch is a very precarious situation. And so much we are in that, we need to navigate our ways to get out of it. At best we avoid it in beforehand.

            p <b>This is not a given and we can do much better.</b>

    include ../../../destraightenmodule/bottom-white-on-transparent.pug
    .gap
