#foss
    h2
        border-bottom solid 2px
        padding-bottom 7px
        max-width 60%

    .value-decoration
        position absolute
        left calc(50% + 250px)
        top 50%
        font-size 250px
        transform: translate(-50%, -50%)
        height 200px
        width 200px
        // background-color #024
        // border solid 3px
        // border-radius: 50%

    #foss-decoration
        height 600px
        width 300px


@media  screen and (max-width: decoration-maximum-mobile-width) 
    #foss
        .value-decoration
            display: block
            position relative
            top 0
            left 0
            width: 100vw
            padding 50px
            box-sizing: border-box
            transform: none
            margin auto
            margin-bottom 50px
            background-color cd-darkblue
            color white

        #foss-decoration
            width 100vw