section#partners
    .black-block
        .max-content
            h1 Partners
            p Friends and connected people.
            
    include ../../../destraightenmodule/top-white-on-black.pug
    .block 
        .max-content
            include ../allcards/person-card-florian.pug 
            include ../allcards/person-card-klaus.pug
            include ../allcards/person-card-you.pug
        #the-void
    include ../../../destraightenmodule/bottom-white-on-transparent-inverted.pug