section#partners
    .black-block
        .max-content
            h1 Partners
            p Friends and connected people.
            
    .block 
        .max-content
            include ../allcards/person-card-florian.pug 
            include ../allcards/person-card-klaus.pug

        #the-void