.hero-card
    .main-content-block
        //- .left-block
        //-     block hero 
        .avatar
            block avatar
        .right-block
            block hero 
    .hero-repositories
        block repositories
