.developer-card
    background-color: #eee
    padding 20px
    border-radius: 3px
    border: solid 3px #999
    margin-bottom 56px

.main-content-block
    display flex
    margin-bottom 20px
    flex-wrap: wrap
    align-items: center

.avatar
    flex-shrink: 0
    border-radius: 50%
    width: 200px
    height 200px
    overflow: hidden        
    img
        width inherit

.middle-block
    flex-shrink: 0
    text-align right
    margin-left: 60px
    width: 220px

.right-block
    margin-left auto
    margin-top auto
    text-align: right
    position relative
    a
        text-decoration: none
        margin-right 7px
    svg
        width 50px
        height 50px

/*====================================================================
mobile styles
====================================================================*/
@media screen and (max-width: 570px)
    .main-content-block
        flex-direction column
    .avatar
        margin auto
        margin-bottom 30px
    .middle-block
        text-align: center
        margin auto 

    .right-block
        text-align: center
        margin-left: 0
    
    .flags-line
        width: 100%



