//- header structure
header
    nav#menuheadercontainer
        #site-menu
            #home-link: a(href="/") 
                svg#home-icon: use(href="#svg-dotv-icon")
                #home-text Home
            #developers-link: a(href="/network.html") > Network
            #projects-link: a(href="/projects.html") > Projects
        #header-anchor-links
            block anchor-links
        
        //- #connect-icons-frame
        //-     a(href="https://t.me/developersofthevoid" target="_blank"): svg#connect-to-telegram-icon: use(href="#svg-telegram-icon")
