connect-icon-size = 40px
anchor-links-padding-top = 32px
connect-icons-padding-bottom = 32px


#menuheadercontainer
    // position fixed
    // top 0
    // left 0
    height inherit
    overflow hidden

#site-menu
    @extends .fuzzy-black
    display flex
    justify-content: space-around
    padding 9px 0 18px 0
    border-radius: 0 0 33% 33%

#site-menu > *
    margin-bottom 5px
    vertical-align: middle

#home-icon
    width 35px
    height 35px
    margin-right 7px
    
#home-link > a
    display: flex
    justify-content: center

#header-anchor-links
    text-align: right
    padding-top anchor-links-padding-top
    padding-right 15px
    max-width 280px
    margin-left: auto
    font-size: 16pt
    line-height 160%
    letter-spacing 1pt
    // box-shadow: 3px -5px 5px white
.link-separator
    padding-top 30px

#connect-icons-frame
    position: absolute
    bottom connect-icons-padding-bottom
    right 0
    text-align right
    a
        text-decoration: none
        cursor pointer
        color #000b
    svg
        width connect-icon-size
        height connect-icon-size

header
    position relative
    height calc(100vh - 87px)
    @extends .max-content
    // z-index 2

@media screen and (max-width: 500px)
    #site-menu
        flex-direction: column