.hero-card
    .main-content-block
        .avatar
            block avatar 
        .middle-block
            block hero
        .right-block
            block connection_links 
    .hero-repositories
        block repositories
