section#developers
    .black-block
        .max-content
            h1 FOSS Developers
            p Allmighty heroes - sponsored by .V
    include ../../../destraightenmodule/top-white-on-black.pug
    .block 
        .max-content
            include ../allcards/hero-card-maciej.pug 

    include ../../../destraightenmodule/bottom-white-on-transparent.pug
    .gap