// globalstyles styles

/*==========================================================
Color Theme
==========================================================*/
cd-background-light = white
cd-background-dark = black
cd-foreground-light = white
cd-foreground-dark = black

cd-red-light = #fff5f5
cd-green-light = #f5fff5
cd-blue-light = #f5f5ff

cd-red-dark = #100000
cd-green-dark = #001000
cd-blue-dark = #000010


/*==========================================================
Global Variables
==========================================================*/
// max-content-width = 900px
// mobile-side-padding = 15px


/*==========================================================
General Tag Styles
==========================================================*/
body
    background-color cd-background-dark
    color cd-foreground-light
    font-family: Arial, Helvetica, sans-serif
    text-align: center
    font-size: 12pt
    height 100vh
    width 100%
    overflow hidden

h1
    font-size: 17pt
h2
    font-size: 15pt
p
    font-size: 12pt
