extends ../cardutils/personbase.pug 
block picture
    img#klaus-avatar(src="/img/klaus-avatar.jpg")
    //- img#klaus-avatar(src="/img/avatar2-bg.jpg")
block name
    | Klaus Salmutter
block title 
    | Welten Meister
block roles
    | Multiplikator
block connection_links
    a#klaus-instagram-link(href="https://www.instagram.com/klaussalmutter/" target="_blank")
            svg: use(href="#svg-instagram-icon")
block flags
    #klaus-flags
        .austrian-flag
            .austrian-red
            .white-strip
            .austrian-red

