extends ../cardutils/personbase.pug 
block picture
    img#you-avatar(src="/img/you-avatar.jpg")
    //- img#klaus-avatar(src="/img/avatar2-bg.jpg")
block name
    | You
block title 
    | Next Master Player
block roles
    | Master Position
//- block connection_links
//-     //- a#klaus-instagram-link(href="https://www.instagram.com/klaussalmutter/" target="_blank")
//-     //-         svg: use(href="#svg-instagram-icon")
//- block flags
//-     #klaus-flags
//-         .austrian-flag
//-             .austrian-red
//-             .white-strip
//-             .austrian-red

