#lenny-flags
    display: flex
    .austrian-flag
        width 45px
    .estonian-flag
        flex-grow: 1
        .estonian-blue
            background-color: #0072CE
            height 10px

#scarlett-flags
    display: flex
    background-color: #EE1C25
    text-align left
    .chinese-flag
        width 45px
        height 30px
    

// the you card
#partners
    .person-card:last-child
        margin-top 250px
        margin-bottom 250px
        h3
            font-weight: bold
            font-size 20pt
    #the-void
        display: none
        width 100%
        height 400px
