//- slideinmenu structure
#slidein-button.noselect
    #burger-icon: svg: use(href="#svg-menu-icon")
    #close-icon: svg: use(href="#svg-cross-icon")

nav#slideinmenu
    #menu-elements
        div: a(href="#company") Company
        div: a(href="#mission") Mission
        div: a(href="#code") Code
    