// slideinmenu styles
slideinmenu-width = 260px
burger-size = 30px

#slidein-button
    position fixed
    top 0
    right 0
    z-index 4
    width 60px
    height 60px
    color cd-darkblue
    cursor pointer
    transition transform 0.5s
    transform: translate(102%, -102%)
    svg
        width  burger-size
        height burger-size
    #menu-icons
        position absolute
        top 0
        right 0
        padding-top 7px
        padding-right 10px

    #close-icon
        display none


#button-background
    position absolute
    bottom 0
    left 0
    background-color: cd-bright
    border-bottom solid 2px
    height 120px
    width 120px
    transform rotate(45deg)

#slidein-button.here
    transform: translate(0, 0)

#slidein-button.menu-here
    #burger-icon
        display none
    #close-icon
        display block

#slideinmenu
    @extends .fuzzy-black
    position fixed
    top 0
    right 0
    z-index 3
    height 100vh
    width slideinmenu-width
    box-sizing: border-box
    padding-top: 63px
    padding-left 35px
    text-align left
    transition transform 0.3s
    transform: translateX(100%)

#slideinmenu.here
    transform: translateX(0)

#link-elements
    padding-top 30px