section#mission
    .black-block
        .max-content
            h1 The Mission 
            p: b Hyper individualists Win-Win in the Collective.
    .block
        .max-content
            p We see a world where the collective is ever extending its power advantage over the individual.
            
            p We feel if we donot counterbalance it we will live in an ugly and dangerous world. This despite the idea of absolute safety within the collective then.

            p One super generalized example:
            p.example If we made everyone believe “the one truth”. We all suffer from every small deviation off it. In addition to this the collective grinds down innovation.<br> When this collective is formed around “the one truth” - that "truth" has a hard time to become updated as anyone with a different view is necessarily outside of the collective and viewed as dangerous to the collective - an enemy.

            p While 

            p We donot say that hyperindividualism is the only valid path to go to. To the contrary we think it is also healthy to strengthen collectivism.

            p We just strongly feel that it is a missing component we can provide to the world because we feel as individuals outpowered by the collective. Over mind about this has been forged by our life experience.

            p We don’t have the power towards the collective to persuade and be an active player therein (Really bad effort/benefit ratio). However we have the power for ourselves to decide what we do. We are living beings and we can do anything when we donot fear anything.

            p In that it makes most sense to create tools and behaviours to support the people we identify with the most - individuals.

    .gap 
    .block
        .max-content
            h2 Our mission
            p We dream of a world where individuals guided by their intrinsic motivation may freely do what they consider reasonable.

            p All individuals will be able contribute permissionless from their best current knowledge and extend their understanding of the world in the process.

            p Is it Code, Science or Arts.

            p Also by doing so the existencial problems caused by current monetary issues are gotten rid off. Because an ever increasingly effective and skilled human would create trust in not just keeping the system “alive” but extending and expanding the good life.

            p We will have any kind of contribution rewarded - is it the line of code which elegantly solves an security issue or is it understanding why exaclty this line of code is the best for this situation. Because we know that for our future we need an continuous incentive to learn and practice, teach and challenge independent of a “product” to be sold.

            p High quality journalism connecting all the parts of society by providing an entry point of understanding for all mindsets of various backgrounds. To then be able tocontribute to the direct issue at hand.

    .gap 
    .block
        .max-content
            h2 Our Mission
            p Our mission is to create an environment for FOSS developers to foster their development.

            p The heros of this mission are the assigned accountability buddies. They will fight gracefully through 1on1s to get through to the other person.

            p These accountability buddies may cover the role of some very lean manager and/or mentor.

            p To build this environment openly interfacing with the general FOSS ecosystem plus having enough funding to feed the developers and their families this is our most general mission.

            p To see our next steps in this process check out the code which is actively developed here.

    .gap