section#mission
    .black-block
        .max-content
            h1 The Mission 
            p: b Hyper individualists for a Win-Win with the Collective.
    .block
        .max-content
            p The mission is to fuel free development. 
            
            p We need to experiment with and set up new ways of funding and also better connect the free developers.

            p I want to create a safe space, from which we may connect with people who share the mission to further evolve the free ecosystem together.

            p In this Mission statement I use the word "free" very similar how Richard Stallman defines it - maybe a bit more generalized. 
            
            p It is the main point that we stay active creators with the capability to modify, extend and understand our tools. That to better avoid to becoming the tool and to experience life from an active hero perspective.

            p From within this safe space the barrier for mere mortals shall feel nonexistent. Many more people could then join this journey of life-long learning.<br><br>
                | Join this journey of a free developer.

            p Aside of the effective developments to expand the free ecosystem, these are the further most important parts of the mission:


            p Base income to remove a rather unnecessary soil for existential fears, anxieties and the tendency for prostitution
            p Synchronization and continuous development of a common picture of what is the situation and which components would be useful (in this ecosystem)
            p Get to know new people and their ideas along the way

    .black-block 
        .max-content 
            p We develop the Void as the Void is the undefined pointer.
            p We cannot define a thing to develop which would satisfy the desired trajectory. 
            p We just know that we need to develop.  And we need to develop together.

            p We need to develop to evolve.

    

    .gap
    .gap