section#managers
    .black-block 
        .max-content 
            h1 Managers
            p Also Developers :)

    .block
        .max-content 
            include manager-card1.pug
            include manager-card2.pug
            #the-void