#lenny-avatar,
#scarlett-avatar
    width inherit
#lenny-flags
    display: flex
    .austrian-flag
        flex-grow: 1
#scarlett-flags
    display: flex
    background-color: #EE1C25
    text-align left
    .chinese-flag
        width 45px
        height 30px
    
#the-void
    width 100%
    height 400px