include ../svgiconsmodule/svgicons.pug
include ../backgroundmodule/background.pug


include components/developersslideinmenu.pug
include components/developersheader.pug
include components/developersmain.pug
include ../footermodule/footer.pug

include ../upbuttonmodule/upbutton.pug
