/*====================================================================
RESET
====================================================================*/
@import '../stylereset/reset.styl'

/*====================================================================
Global Styles
====================================================================*/
@import '../globalstyles/styles.styl'

/*====================================================================
Including modules
====================================================================*/
@import '../allmodules/allstyles.styl'

/*====================================================================
Including components
====================================================================*/
@import 'components/cardutils/styles.styl'
@import 'components/allcards/styles.styl'

/*====================================================================
Specific styles
====================================================================*/
#developers-link
    color chosen-link-color
    pointer-events: none

#backgroundimage
    background-image: url(/img/footer-bg-network.jpg)

#photo-attribution-home
    display: none    
// #photo-attribution-network
//     display: none    
#photo-attribution-projects
    display: none    

main
    width 100%
    position relative
    padding 0
    margin 0


.austrian-red
    background-color: #C8102E
    height 10px


.swiss-flag
    position relative
    background-color: red
    color white
    height 30px
    width 30px

.liechtenstein-flag
    height 30px
    width 50px
