//- bottom-white-on-transparent-inverted
.destraighten-transparent
    .corner-100: svg: use(href="#svg-right-lower-corner")
    .transparent-block-100
    .corner-100: svg: use(href="#svg-left-lower-corner")
