//- top-white-on-transparent-inverted
.destraighten-transparent
    .corner-100: svg: use(href="#svg-right-upper-corner")
    .transparent-block-100
    .corner-100: svg: use(href="#svg-left-upper-corner")
