#join-us-block    
    padding-bottom 200px
    overflow: hidden

.under-construction
    font-weight: bold

#join-options
    display flex
    justify-content: space-around
    margin-top 100px

#join-options > *
    text-align: center
    svg
        height 120px
        width 120px

#bottom-join-us-decoration
    position absolute
    left 50%
    bottom -20px
    transform: translateX(-50%)
    width 100%
    max-width: 600px
    max-height: 200px
    color #024

.cyou
    text-align: right
    max-width 100%

@media screen and (max-width: 636px)
    #join-options
        flex-direction: column