section#join
    //- .black-block
    //-     .max-content
    //-         h1 The Code 
    //-         p A few entry points into the Void.
    //- .block 
    //-     .max-content 
    //-         p.todo //TODO: Link the currently important projects
    //-         //- h2 Thingycreate
    //-         //- a(href=""): svg: use(href="#svg-gitlab-icon")
    //-         //- a(href=""): svg: use(href="#svg-github-icon")
    //-         //- h2 Asset Flow Control System 
    //-         //- a(href=""): svg: use(href="#svg-gitlab-icon")
    //-         //- a(href=""): svg: use(href="#svg-github-icon")
    //-         //- h2 Secret Manager
    //-         //- a(href=""): svg: use(href="#svg-gitlab-icon")
    //-         //- a(href=""): svg: use(href="#svg-github-icon")

    //- .gap
    .black-block 
        .max-content 
            h1 Join us!
            p Enter the Void.
    #join-us-block.block
        .max-content
            p If you like our mission don't hesitate to connet to one of our public chatrooms.
            p Let's chat a bit about our ideas, where we are in our life and how we could coordinate our further operations.
            #join-options
                #join-matrix-option
                    a(href="https://matrix.to/#/#dotv-welcome:matrix.weblenny.at" target="_blank"): svg#connect-to-matrix-icon: use(href="#svg-matrix-icon")
                    h2 Join us on Matrix
                #join-telegram-option
                    a(href="https://t.me/developersofthevoid" target="_blank"): svg#connect-to-telegram-icon: use(href="#svg-telegram-icon")
                    h2 Join us on Telegram 

        svg#bottom-join-us-decoration: use(href="#svg-us-graphics")
