section#join
    .black-block 
        .max-content 
            h1 Join us!
            p Enter the Void.
    #join-us-block.block
        .max-content
            p Communication is key.
            ul
                li Communicate truth
                li Communicate kindly
                li Communicate what is necessary
            p However, our next version of a broader communication layer is <a href="https://onsitechat.org" target="_blank"><b>under construction</b></a>. 
            p In the meantime you may contact us via our public Telegram Group.
            #join-options
                #join-telegram-option
                    a(href="https://t.me/developersofthevoid" target="_blank"): svg#connect-to-telegram-icon: use(href="#svg-telegram-icon")
                    h2 Join us on Telegram
            p.cyou C you!

        svg#bottom-join-us-decoration: use(href="#svg-us-graphics")
