section#join
    .black-block 
        .max-content 
            h1 Join us!
            p Enter the Void.
            
    include ../../../destraightenmodule/top-white-on-black.pug
    #join-us-block.block
        //- svg#creepy-monkey: use(href="#svg-monkey-graphic")
        svg#cute-sun: use(href="#svg-cute-sun-graphic")
        //- svg#sun-icon: use(href="#svg-sun-icon")
        .max-content
            p Communication is key.
            ul
                li Communicate truth
                li Communicate kindly
                li Communicate what is necessary
            p However, our next version of a broader communication layer is <a href="https://onsitechat.org" target="_blank"><b>under construction</b></a>. 
            p In the meantime you may contact us via our public Telegram Group.
            p.cyou C you there!
            #join-options
                #join-telegram-option
                    a(href="https://t.me/developersofthevoid" target="_blank"): svg#connect-to-telegram-icon: use(href="#svg-telegram-icon")
                    h2 Join us on Telegram

        svg#bottom-join-us-decoration: use(href="#svg-us-graphics")
    include ../../../destraightenmodule/bottom-white-on-transparent-inverted.pug
