.d-block
  display: flex
  flex-direction: row
  padding: 2em

.d-block:nth-child(2)
  margin-top: 1em

.round
  border-radius: 50%

@media(min-width: 512px)
  .repos
    margin-left: 8em
  .d-block > *
    text-align: left
